@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Reset Global */
*,
*::before,
*::after {
  margin: 0;                 /* Elimina todos los márgenes predeterminados */
  padding: 0;                /* Elimina todos los rellenos predeterminados */
  border: 0;                 /* Elimina todos los bordes predeterminados */
  box-sizing: border-box;    /* Incluye padding y border en el ancho/alto total */
}

:root {
  /* configuraciones globales */
  --navbar-height: 60px;
  --margin-top-navbar: 25px;
  --borderRadiusGrande: 26px;
  --textoSystemUi: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* colores globales*/
  --colorTxtImportant: #2968c8;
  --colorLink: #3483fa;
  --colorBtn: #3483fa;
  --colorBtnHover: #2968c8;
  --colorInput: #e9e9e9;
  --colorTarjetasGuias: #ffffff;
  --colorGrisGlobal: #bebebe;
  --colorNegroGlobal: #111111;
  --colorRojoGlobal: #c90000;
  --colorBlancoGlobal: whitesmoke;
  --colorNavVisualizador: #9e9e9e;
  --colorTxtTarjetas: whitesmoke;
  --colorFondoTarjetas: whitesmoke;
  --colorCheck: #3483fa;
  --colorInfo: #3483fa;
  --colorPrecio: #3483fa;
  --colorHover: #f3f3f3;

  --bgTarjetaEsencial: #F4E1C1;
  --bordeTarjetaEsencial: #B39D74;
  --bgTarjetaAvanzado: #FFEFD9;
  --bordeTarjetaAvanzado: #FFA726;
  --bgTarjetaPremium: #D4F2D7;
  --bordeTarjetaPremium: #43A047;


  /* sombra global */
  --sombraTarjeta: 3px 4px 12px rgba(0, 0, 0, 0.5);
  --sombraTarjeta2: 1px 2px 6px rgba(0, 0, 0, 0.25);
  --sombraNavVisualizador: 0 -5px 20px rgba(0, 0, 0, 0.5);
  --sombraBtn: 1px 2px 4px rgba(0, 0, 0, 0.25);
}


/* Configuración para html y body */
html {
  scroll-behavior: smooth;   /* Habilita desplazamiento suave */
  font-size: 100%;          /* Define el tamaño de fuente base como 16px (1rem) */
  -webkit-text-size-adjust: 100%; /* Previene el ajuste automático del texto en dispositivos móviles */
  -ms-text-size-adjust: 100%;     /* Soporte para navegadores antiguos */
}

body {
  min-height: 100vh;         /* Asegura que el body ocupe al menos toda la altura de la ventana */
  width: 100%;               /* Asegura que el body ocupe todo el ancho disponible */
  font-family: var(--textoSystemUi);
  line-height: 1.5;          /* Mejora la legibilidad del texto */
  /* background-color: #f5f5f5; */ /* Fondo suave para reducir el contraste visual */
  background-color: rgb(255, 255, 255); /* Fondo suave para reducir el contraste visual */
  overflow-x: hidden;        /* Previene el scroll horizontal no deseado */
  -webkit-font-smoothing: antialiased; /* Mejora el renderizado de fuentes en navegadores WebKit */
  -moz-osx-font-smoothing: grayscale;  /* Mejora el renderizado de fuentes en Firefox */
}
body {
    font-family: var(--textoSystemUi);
    background: none; /* Asegura que no haya ningún fondo en el body */
    position: relative; /* Establece un contexto para los elementos */
}

body::before {
    content: ""; /* Necesario para crear un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(240, 240, 240, 0.9));  *//* Degradado suave */
    z-index: -1; /* Lo coloca detrás de todo el contenido */
}
/* Personalizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;  /* Ancho de la barra */
  height: 8px; /* Altura de la barra horizontal */
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #9c9c9c;  /* Color de fondo de la barra */
  border-radius: 10px;  /* Redondeo en los bordes del fondo */
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #3483fa;  /* Color de la barra de scroll */
  border-radius: 10px;  /* Redondeo de la barra de scroll */
}

/* Hover en la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background-color: #2968c8;  /* Color de la barra cuando se pasa el cursor */
}

/* Personalizar la barra horizontal */
::-webkit-scrollbar-horizontal {
  height: 8px;  /* Altura de la barra horizontal */
}

/* Personalizar el track (fondo) de la barra horizontal */
::-webkit-scrollbar-track-horizontal {
  background: #9c9c9c;
  border-radius: 10px;
}

/* Personalizar el thumb (barra) horizontal */
::-webkit-scrollbar-thumb-horizontal {
  background-color: #3483fa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background-color: #2968c8;
}


/* Control de botones */
.btn-primary {
  background-color: var(--colorBtn);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--colorBtnHover);
  color: white;
}

/* Control de botones para inicio y registro */
.btn-inicio {
  background-color: var(--colorBtn);
  color: white;
  padding: 1rem;  
  border-radius: 24px;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
  box-shadow: var(--sombraBtn);
  font-size: large;
  font-family: var(--textoSystemUi)
}

.btn-inicio:hover {
  background-color: var(--colorBtnHover);
  color: white;
}

.inputGlobal {
  background-color: var(--colorInput);
  padding: 1rem;
  border-radius: 24px;
  text-decoration: none;
  font-size: large;
  font-family: var(--textoSystemUi);
  border: 2px solid transparent;;
  outline: none;
}

.inputGlobal:focus {
  border: 2px solid var(--colorBtn);
  border-radius: 24px;
}
