.visualizador {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    align-items: center;
    @media (width <= 425px) {
        display: flex;
        flex-direction: column;
        
        padding-inline: 0;
        flex-direction: column-reverse;
    }
}

.sidebar {
    position: fixed;
    top: 100;
    left: 0;
    padding-left: 26px;
    height: auto;
    z-index: 10;
    transition: top 0.6s ease-in-out, transform 0.6s ease-in-out, opacity 0.6s ease-in-out; 

    @media (width <= 425px) {
        display: flex; 
        flex-direction: column-reverse;
        position: fixed;
        bottom: 0; 
        padding-left: 0;
        width: 100%; 
        max-height: 50%;
    }
}

.vistaDePlanos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
    user-select: none;

    & img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: block;
    }

}


.herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 26px;
    position: fixed;
    z-index: 9;
    @media (width <= 425px) {
        bottom: 75px;
    }
}