.tp-tarjetaProyecto{
    background-color: var(--colorFondoTarjetas);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    border-radius: var(--borderRadiusGrande);
    border: solid 1px rgba(0, 0, 0, 0.2);
    /* box-shadow: var(--sombraTarjeta); */
    user-select: none;
}
/* div imagen y texto */
.tp-imgYtxt {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tp-imgYtxt h3 {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    position: absolute;
    padding-left: 15px;
    transform: translateY(150px);
    color: var(--colorTxtTarjetas);
    font-size: x-large;
    font-weight: 500;
    border-radius: 0 0 26px 26px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.tp-imgYtxt img {
    position: relative;
    max-width: 100%; /* Ajuste al ancho del contenedor */
    max-height: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--borderRadiusGrande);
}

/* div iconos */
.tp-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-block: 10px;
    width: 80%;
    border-bottom: solid 1px rgb(206, 206, 206);
}


/* div medidas */
.tp-medidas h2 {
    font-size: 75px;
    font-weight: 600;
}

/* div boton */
.tp-btnVerProyecto {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
    margin-block: 15px;
    padding-inline: 26px;
}

.tp-btnVerProyecto button {
    align-items: center;
    background-color: var(--colorBtn);
    color: white;
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: var(--borderRadiusGrande);
    text-decoration: none;
    transition: background-color 0.2s;
    cursor: pointer;
    margin-bottom: 10px;
}

.tp-btnVerProyecto button:hover {
    background-color: var(--colorBtnHover);
    color: white;
}


/* Móviles pequeños (hasta 320px) */
@media (max-width: 320px) {
    .tp-tarjetaProyecto {
        width: auto;
    }
}

/* Móviles medianos (321px a 375px) */
@media (min-width: 321px) and (max-width: 375px) {
    .tp-tarjetaProyecto{
        background-color: var(--colorFondoTarjetas);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        border-radius: var(--borderRadiusGrande);
        border: solid 1px rgba(0, 0, 0, 0.2);
        /* box-shadow: var(--sombraTarjeta); */
        user-select: none;
    }

    /* div imagen y texto */
    .tp-imgYtxt h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        position: absolute;
        padding-left: 0px;
        transform: translateY(150px);
        color: var(--colorTxtTarjetas);
        font-size: 1rem;
        font-weight: 400;
        border-radius: 0 0 26px 26px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    }

    /* div iconos */
    .tp-iconos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-b;
        padding-block: 10px;
        width: 90%;
        border-bottom: solid 1px rgb(206, 206, 206);
    }

    .tp_iconoCantidad {
        display: none;
    }

    /* div medidas */
    .tp-medidas h2 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    /* div boton */
    .tp-btnVerProyecto {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        width: 100%;
        margin-block: 10px;
        padding-inline: 13px;
    }


    

}