.menuHerramientas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 60px;
    border-radius: var(--borderRadiusGrande);
    box-shadow: var(--sombraTarjeta);
    background-color: white;
}

.menuHerramientas h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
    /* border: solid 1px black; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}

.menuHerramientas h2:hover {
    background-color: #ededed;
}

