/* Contenedor padre */
.ci3d_cardImagenes3d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 26px;
    border-radius: var(--borderRadiusGrande);
    background-color: var(--colorTarjeta);
    box-shadow: var(--sombraTarjeta);
}

/* Las imagenes */
.ci3d_img3d {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    grid-template-rows: repeat(2, 1fr);    /* para que ocupe 2 columnas de alto la img4 */   
    grid-template-areas: 
        "img1 img2 img4"
        "img3 img3 img4";               
    gap: 10px;                         
    width: 100%;                        
    height: 100%;                      
    box-sizing: border-box;
}


/* Estilos de las imágenes con sus áreas asignadas */
.ci3d_img3d1 {
    grid-area: img1; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borderRadiusGrande);             
}

.ci3d_img3d2 {
    grid-area: img2; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borderRadiusGrande);             
}

.ci3d_img3d3 {
    grid-area: img3; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borderRadiusGrande);             
}

.ci3d_img3d4 {
    grid-area: img4; 
    width: 100%;
    height: 100%;
    grid-row: span 2; /* Fuerza que ocupe 2 filas */
    object-fit: cover; 
    border-radius: var(--borderRadiusGrande);             
}



/* Texto y boton mas H2*/
.ci3d_txtYbtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: flex-end;
    justify-content: space-between;
}

.ci3d_txtYbtn h2 {
    font-weight: 500;
}

/* Añadiendo las clases para crear el "modal"*/
.ci3d_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.ci3d_cerrarModal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

.ci3d_contenidoModal {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-template-rows: auto;
    gap: 20px; /* Espacio entre las columnas */
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    max-width: 80%;
    overflow-y: auto;
}

.ci3d_imagenesEnModal1 {
    display: grid;
    grid-template-columns: 1fr; /* Columna para texto */
    gap: 20px;
    width: 100%;
    text-wrap: balance;
}

.ci3d_imagenesEnModal1 h2 {
    font-size: xx-large;
    margin: 0;
    padding: 10px 0;
}

.ci3d_imagenesEnModal1 p {
    text-wrap: wrap;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 100;
    margin: 0;
}

.ci3d_imagenesEnModal {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna por defecto */
    gap: 10px; /* Espacio entre las imágenes */
    width: 100%;
    height: 100%;
}

.ci3d_imagenesEnModal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borderRadiusGrande);
    border: solid 2px gray;
}

.ci3d_imagenes1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para las imágenes */
    height: 100%;
    gap: 10px;
}

.ci3d_imagenes1 img {
    width: 100%;
    height: 100%; /* Mantiene la relación de aspecto */
    object-fit: cover;
    border-radius: var(--borderRadiusGrande);
    border: solid 2px gray;
}


/* Móviles pequeños (hasta 320px) */
@media (max-width: 320px) {
    .ci3d_img3d {
        display: flex;
        flex-direction: column;             
        gap: 10px;                         
        width: 100%;                        
        height: 100%;                      
        
    }
    .ci3d_txtYbtn {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 110px;
        align-items: center;
    }
    
    .ci3d_txtYbtn h2 {
        font-size: 1.2rem;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        padding-block   : 20px;
    }
    

    /* Añadiendo las clases para crear el "modal"*/
    .ci3d_contenidoModal {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacio entre las columnas */
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        max-width: 95%;
        height: 100dvh;
        overflow-y: auto;
    }

    .ci3d_imagenesEnModal1 h2 {
        font-size: x-large;
        margin: 0;
        padding: 10px 0;
        line-height: 35px;
        text-wrap: wrap;
        text-align: center;
    }

    .ci3d_imagenesEnModal1 p {
        text-wrap: wrap;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 100;
        margin: 0;
    }

}

/* Móviles medianos (321px a 375px) */
@media (min-width: 321px) and (max-width: 375px) {
    .ci3d_img3d {
        display: flex;
        flex-direction: column;             
        gap: 10px;                         
        width: 100%;                        
        height: 100%;                      
        
    }
    .ci3d_txtYbtn {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 110px;
        align-items: center;
    }
    
    .ci3d_txtYbtn h2 {
        font-size: 1.2rem;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        padding-block   : 20px;
    }
    /* Añadiendo las clases para crear el "modal"*/
    .ci3d_contenidoModal {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacio entre las columnas */
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        max-width: 95%;
        height: 100dvh;
        overflow-y: auto;
    }

    .ci3d_imagenesEnModal1 h2 {
        font-size: x-large;
        margin: 0;
        padding: 10px 0;
        line-height: 35px;
        text-wrap: wrap;
        text-align: center;
    }

    .ci3d_imagenesEnModal1 p {
        text-wrap: wrap;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 100;
        margin: 0;
    }
}


/* Tablets pequeñas (376px a 425px) */
@media (min-width: 376px) and (max-width: 425px) {
    .ci3d_img3d {
        display: flex;
        flex-direction: column;             
        gap: 10px;                         
        width: 100%;                        
        height: 100%;                      
        
    }
    .ci3d_txtYbtn {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 110px;
        align-items: center;
    }
    
    .ci3d_txtYbtn h2 {
        font-size: 1.2rem;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        padding-block   : 20px;
    }
    /* Añadiendo las clases para crear el "modal"*/
    .ci3d_contenidoModal {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacio entre las columnas */
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        max-width: 95%;
        height: 100dvh;
        overflow-y: auto;
    }

    .ci3d_imagenesEnModal1 h2 {
        font-size: x-large;
        margin: 0;
        padding: 10px 0;
        line-height: 35px;
        text-wrap: wrap;
        text-align: center;
    }

    .ci3d_imagenesEnModal1 p {
        text-wrap: wrap;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 100;
        margin: 0;
    }
}


/* Tablets pequeñas (426px a 600px) */
@media (min-width: 426px) and (max-width: 600px) {
    .ci3d_img3d {
        display: flex;
        flex-direction: column;             
        gap: 10px;                         
        width: 100%;                        
        height: 100%;                      
        
    }
    .ci3d_txtYbtn {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 110px;
        align-items: center;
    }
    
    .ci3d_txtYbtn h2 {
        font-size: 1.2rem;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        padding-block   : 20px;
    }
    /* Añadiendo las clases para crear el "modal"*/
    .ci3d_contenidoModal {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacio entre las columnas */
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        max-width: 80%;
        height: 100dvh;
        overflow-y: auto;
    }

    .ci3d_imagenesEnModal1 h2 {
        font-size: xx-large;
        margin: 0;
        padding: 10px 0;
        line-height: 35px;
        text-wrap: wrap;
        text-align: left;
    }

    .ci3d_imagenesEnModal1 p {
        text-wrap: wrap;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 100;
        margin: 0;
    }
}

/* Tablets grandes (601px a 768px) */
@media (min-width: 601px) and (max-width: 768px) {
    /* Añadiendo las clases para crear el "modal"*/
    .ci3d_contenidoModal {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacio entre las columnas */
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        max-width: 80%;
        height: 100dvh;
        overflow-y: auto;
    }

    .ci3d_imagenesEnModal1 h2 {
        font-size: xx-large;
        margin: 0;
        padding: 10px 0;
        line-height: 35px;
        text-wrap: wrap;
        text-align: left;
    }

    .ci3d_imagenesEnModal1 p {
        text-wrap: wrap;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 100;
        margin: 0;
    }
}


/* Tablets pequeñas (769px a 929px) */
@media (min-width: 769px) and (max-width: 929px)  {
    /* Añadiendo las clases para crear el "modal"*/
    .ci3d_contenidoModal {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Espacio entre las columnas */
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        position: relative;
        max-width: 80%;
        height: 100dvh;
        overflow-y: auto;
    }

    .ci3d_imagenesEnModal1 h2 {
        font-size: xx-large;
        margin: 0;
        padding: 10px 0;
        line-height: 35px;
        text-wrap: wrap;
        text-align: left;
    }

    .ci3d_imagenesEnModal1 p {
        text-wrap: wrap;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 100;
        margin: 0;
    }
}